
.top-bar{
    background-color: rgb(221, 229, 221);
}
h2 {
    text-align: left;
    text-decoration-color: rgb(3, 85, 3);
}
a:link, a:visited {
    background-color: brown;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: green;
  }